/*.navbar-inverse {
    background-color: teal;
    border-color: transparent;
    height: 10px;

}*/
#reviewButton
{
    color:darkslateblue;
    background-color: black;
}

#offerButton
{
    color: darkslateblue;
    background-color: black;
}
.navbar-inverse
{
    border-color: transparent;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,rgba(255,0,0,0),black); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(255,0,0,0),black); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(255,0,0,0),black); /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(255,0,0,0), black); /*Standard*/
}
navbar-text
{
    color: #0b0b0b;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-weight: bold;

}


.navbar-inverse .navbar-link {
    color: white;
    font-weight: bold;

}

input.form-control {
    margin-bottom: 20px;
}
.search-tab{
    width:100%;
    
}
.review{
    padding:10px;
}

.review .col-sm-4{
    padding:0px;
}
.review button{
    width:auto;
}

.input-group-addon{
    padding:0px;
}

.btn-xs{
    margin-bottom:10px;
}
.category-cards{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    padding-left:12px;

}
.ng-submitted.ng-invalid{
        border-color: red;
      }
.ng-submitted .ng-invalid{
    border-color: red;
    }

form{
    padding:10px;
     }
      .error{

        color:red;
        margin-bottom:10px;
      }
.category-cards p{
    padding-left:10px;
    padding-top: 10px;
}
.glyphicon.glyphicon-ok{
    color:#00b300;
}

.glyphicon.glyphicon-remove{
    color:#e60000;
}

.glyphicon.glyphicon-trash{
    color:#e60000;
}
.btn-danger.btn-xs{
    margin:0px;
}
.user-review h5{
    margin:0px;
}
.category-cards img{
    padding-top:5px;
}

.category-cards h4{
    padding-left:10px;
}

.category-cards h5 {
    padding-top:5px;
    padding-left:5px;
}
.category-cards h6 {
    
    padding-left:5px;
}
.card-img-top{
    width:0%;
  height:auto;
}

.space-card{
     background-color:#f0f0f5;

}

.space-card img{
    visibility:hidden;
}
.space-card h4{
    visibility:hidden;
}
.col-sm-6{
    padding:0px;
}
span.stars, span.stars span {
    display: block;
    background: url('http://pngimg.com/uploads/star/star_PNG1595.png') 0 -16px repeat-x;
    width: 180px;
    height: 116px;
}

span.stars span {
    background-position: 0 0;
}

.col-sm-2{
    height:60%;
    background-color:#f0f0f5;
}
.col-sm-9{
    padding:0px;
}
.space{
    background-color: #f0f0f5;
    height:60%;
}
.user-review{
    background-color:#eeffe6;
    margin-left:20px;
    margin-right: 20px;
    border-radius:10px;
}
.profile{
    display: inline-block;
  width: 8%;
  height: 8%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top:0px;
  z-index: 20px;
  overflow:auto;
}

.display-pic img{
    width: 70%;
  height: 70%;
  margin-top: 15px;
    white-space: nowrap;
    display: inline-block;

 
}
.glyphicon-chevron-right{
    color:#0cb235;
}
hr{
    padding:0px;
    margin: 0px;
}
body {
    padding-top: 75px;
    padding-bottom: 50px;
    display:block;
    overflow:auto;
    background-color: ghostwhite;
    height:auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}


.register{
   margin-bottom: 20px;
    
}

#register {
    color:#cc0227;
}

.test{
    display:block;
    width:100%;
    height:300px;
    background-image: url('http://hd.wallpaperswide.com/thumbs/japanese_food-t2.jpg');
    background-position: center;
    background-attachment: fixed;

}

.picResturant{
    display:block;
    width:100%;
    height:300px;
    background-image: url('https://mm.creativelive.com/fit/https%3A%2F%2Fagc.creativelive.com%2Fagc%2Fbundles%2Ffoodbundle.jpeg/1200');
    background-position: center;
    background-attachment: fixed;
}
.restaurant-image{
   background-color: #ffffff;
   border-radius: 10px;
    height:400px;
    display:block;
    background-size: cover;
    overflow: hidden;

}

.restaurant-image img{
    padding:15px;
}

.parallax {
    background: url('https://www.google.com/images/srpr/logo3w.png');

    height:50%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.steps-guide{
    padding-top:40px;
    text-align: center;
    padding-bottom:40px;
}
.steps-guide h4{
    padding-top:20px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 50%;
      margin: auto;
}


.white-glyph{
    color:#fff;
}

.black-glyph{
    color:#000;
}

.navbar-default{
    background-color: #404040;


}

.page-list-header .navbar-default{
    background-color:  #f0f5f5;
}

.page-list-footer .navbar-default  {
    background-color:  #f0f5f5;
}

.list{
    color: #008ae6;
}

.content{
    position:relative;
    top:17px;
}

.content .col-md-12{
    color: #008ae6;
}

.page{
    position:relative;
    top:40px;
}
.navbar-default .navbar-brand{
    color:#fff;
    text-decoration:none;
    font-weight:bold;
}

.delete{
    width:100%;

}

.border-right{
    border-right: 1px solid black;
    height:1200px;
}



.page-list-header .navbar-default .navbar-brand{
color:#404040;
}


.page-list-header .glyphicon-plus{
    position:absolute;
    top:15px;
    right:30px;
}

.pull-right{
    position:absolute;
    right:20px;
}

.pull-right-cogs{
    position:absolute;
    right:5px;
}

.pull-right-line{
    position:absolute;
    right:5px;
    z-index:-1;
}
.profile{
    position:relative;
    top:30px;
}

.profile-footer .glyphicon-user{
    color:#ffffff;
}

.profile-footer p{
    position:absolute;
    right:20px;
}
.profile-header .glyphicon-ok{
    color:#ffffff;
}
.profile-header p{
    position:absolute;
    right:20px;
}

.form-group label{
    color:#000000;
}

.plus-icon{
    position:absolute;
    right:-24px;
    top:-10px;
}

.plus-icon-websites{
    position:absolute;
    right:5px;
    top:2px;
}
.gizmodo{
    position:absolute;
    top:60px;
    overflow: auto;
    bottom:60px;
    width:100%;
    

}

.upload{
    position:relative;
    top:34px;
    left:-51px;
    height:33px;
    width:103px;

}

.outer-container{
    position:relative;

}



.inner-container{
    position:absolute;
    float:right;
    right:0px;
    top:0px;
    z-index:10;
    background-color:white;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: auto;
}


.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    height:80%;
}

.navbar-default {
    color: #ffffff;
}

.navbar-text a{
   color: black;
}

.navbar-footer a{
    color: #ffffff;
}

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/* --------------------------------- */


