<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"  class = "navbar-link">
        <span class="glyphicon glyphicon-chevron-left">
        </span>
            </a>
        </p>

        <a class="navbar-brand" href="#">
            Widgets
        </a>
        <p class="navbar-text pull-right">
             <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                class="navbar-link" >
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>
    </div>
</nav>

<div wbdv-sortable class="container-fluid">
    <div ng-repeat="widget in model.widgets"  class="widget-div">
        <div class="container-fluid jga-toolbar">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
            <span class="glyphicon glyphicon glyphicon-move some-style"></span>
        </div>


        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADER">
                <ng-include src="'views/widget/templates/widget-header.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="IMAGE">
                <ng-include src="'views/widget/templates/widget-image.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="HTML">
                <ng-include src="'views/widget/templates/widget-html.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="YOUTUBE">
                <ng-include src="'views/widget/templates/widget-youtube.view.client.html'"></ng-include>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">


        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
               class="navbar-link" >
                <span class="glyphicon glyphicon-play"></span>
            </a>
        </p>

        <p class="navbar-text pull-left eye-margin">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link" >
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
        </p>

        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link" >
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>