<nav class="navbar navbar-default navbar-fixed-top">
    <div class= "container-fluid">
        <div class="col-sm-4 hidden-xs">

            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class = "navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website">
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/new" class="navbar-link" >
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>

        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a href="#/user/{{model.userId}}/website" class = "navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}">
                Edit Website
            </a>
            <p class="navbar-text pull-right">
                <a  class="navbar-link"
                    ng-click="model.updateWebsite(model.website)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class = "container-fluid">
    <div class="col-sm-4 hidden-xs left-control">
        <ul class="list-group">
            <li ng-repeat = "website in model.websites" class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{website._id}}/page"> {{website.name}} </a>
                <a href="#/user/{{model.userId}}/website/{{website._id}}" class = "pull-right">
                    <span class="glyphicon glyphicon-cog"/>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-8 right-control vertical-line">
        <form>
            <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
            </div>

            <div class="form-group">
                <label for= "websitename" > Website Name </label>
                <input type = "text" class = "form-control" id = "websitename" placeholder="Website Name" ng-model="model.website.name">
            </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea  id="description" class="form-control" ng-model="model.website.description" rows="7" placeholder="Website Description ">
                </textarea>
            </div>
            <a class="btn btn-danger  btn-block" ng-click="model.deleteWebsite()">Delete</a>
        </form>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link" >
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>