<form>
    <div class="form-group">
        <label for="inputurl">URL</label>
        <input type="text"
               id="inputurl"
               class="form-control"
               ng-model="model.widget.url"/>
    </div>

    <div class="form-group">
        <label for="inputwidth">Width</label>
        <input type="text"
               id="inputwidth"
               class="form-control"
               ng-model="model.widget.width"/>
    </div>
    <a class="form-control btn btn-danger"
       ng-click="model.deleteWidget(model.widget._id)">
        Delete
    </a>
</form>