Text
<input ng-model="model.widget.text"
       class="form-control"/>
Rows
<input ng-model="model.widget.rows"
       class="form-control"
       type="number"/>
Placeholder
<input ng-model="model.widget.placeholder"
       class="form-control"/>
<div class="checkbox">
    <label>
        <input type="checkbox"
               ng-model="model.widget.formatted"> Formatted
    </label>
</div>

<div class="form-group">
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget(model.widget._id)">
        Delete
    </a>
</div>