
    <div class="form-group">
        <label for="inputurl">URL</label>
        <input type="text"
               id="inputurl"
               class="form-control"
               ng-model="model.widget.url"/>

        <form action ="api/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="inputwidth">Width</label>
                <input type="text"
                       id="inputwidth"
                       class="form-control"
                       ng-model="model.widget.width"/>
            </div>
                <label for="inputimage">Upload</label>
                <input name ="myFile" type="file"
                       id="inputimage"
                       class="form-control"/>
                <input name ="uid" type="file"
                   id="uid"
                   class="form-control"/>
                <input name ="wid" type="file"
                   id="wid"
                   class="form-control"/>
                <input name ="widgetId" type="file"
                   id="widgetId"
                   class="form-control"/>
        </form>
    </div>
    <div class="form-group">
        <a class="btn btn-danger btn-block"
           ng-click="model.deleteWidget(model.widget._id)">
            Delete
        </a>
    </div>

