<form>
    <div class="form-group">
        <label for="inputurl">URL</label>
        <input type="text"
               id="inputurl"
               class="form-control"
               ng-model="model.widget.url"/>
    </div>

    <div class="form-group">
        <label for="inputwidth">Width</label>
        <input type="text"
               id="inputwidth"
               class="form-control"
               ng-model="model.widget.width"/>
    </div>

    <div class="form-group">
        <label for="inputimage">Upload</label>
        <input type="file"
               id="inputimage"
               class="form-control"
               ng-model="model.widget.url"/>
    </div>

    <div class="form-group">
        <btn class="btn btn-primary btn-block">
            Upload Image
        </btn>
    </div>

    <div class="form-group">
        <a class="btn btn-danger btn-block"
           ng-click="model.deleteWidget(model.widget._id)">
            Delete
        </a>
    </div>

</form>