<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="profile-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/home/{{model.user._id}}">
                    UrbanEat
                </a>
                <p class="navbar-text pull-right">
                    Welcome <a href="#/profile/{{model.user._id}}">{{model.user.username}}</a>
                    &nbsp;|&nbsp;
                    <span ng-click="model.logout()" class="glyphicon glyphicon-log-out navbar-link"></span>
                    <a ng-show="model.user.role == 'ADMIN'" href="#/admin/{{model.user._id}}"> | Admin Page</a>
                </p>
            </div>
        </div>
    </div>
</nav>


<div class="container">

    <div class="row category-cards">
        <div class="col-sm-12 fluid">
            <div class="fluid card">
                <div class="row">
                    <div class="col-sm-3 display-pic">

                        <img ng-if = "model.user.imageUrl" ng-src= "{{model.user.imageUrl}}"
                             class="img-fluid img-thumbnail" width="100%">
                        <img ng-if = "!model.user.imageUrl" src= "https://www.gemkonnect.com/sites/default/files/default_images/default-1.png"
                             class="img-fluid img-thumbnail" width="100%">

                    </div>
                    <div class="col-sm-9 text-left">

                        <h3>{{model.user.fullName}}</h3>

                        <p>@{{model.user.username}}</p>

                        <p>{{model.user.about}}</p>
                        <a href="#/user/{{model.user._id}}" class="btn btn-primary btn-sm">Update Profile</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-3 category-cards">
            <div class="fluid card">
                <h4>My Followers</h4>
                <div ng-repeat ="follower in model.followers">
                    <div class="row">
                        <div class="fluid card user-review">
                            <h5><b>{{follower.username}}</b></h5>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8 category-cards">
            <div class="fluid card">
                <h4>My Reviews</h4>
                <div ng-repeat ="review in model.reviewList">
                    <div ng-if= "review != null" class="row">
                        {{review}}
                        <div class="fluid card user-review">
                            <div class="pull-right">
                                <span class="glyphicon glyphicon-pencil" ng-click = "model.updateReview(model.user._id,review._id,review._restaurant)" ></span>
                                <span class="glyphicon glyphicon-trash"
                                      ng-click = "model.deleteReview(model.user._id,review._id,review._restaurant)" ></span>
                            </div>
                            <h5><b>{{review.restaurant}}</b></h5>
                            <h6>{{review.review}}</h6>
                        </div>
                    </div>
                    <br>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

